@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* app-variables */
    --app-primary: #B7E08A;
    --app-primary2: #CFECA8;
    --app-primary3: #E0F5BD;

    --app-black: #0B0F0E;
    --app-black2: #1D2322;
    --app-black3: #313736;

    --app-grey: #818B9C;
    --app-grey2: #9BA6B9;
    --app-grey3: #BCC5D4;

    --app-lgrey: #F1F1F1;
    --app-lgrey2: #F6F6F6;
    --app-lgrey3: #F9F9F9;

    --app-red: #E04124;

    --app-grey-text:#7F879E
  }

}
